<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar color="primary">
      <div style="display: flex;">
        <ion-title style="flex:3">Individual</ion-title>
        <ion-menu-toggle>
        <ion-avatar style="flex:1" routerLink="/landing-individual/indi-profile">
            <img style="transform: scale(0.6);" src="avatar.svg">
          </ion-avatar>
        </ion-menu-toggle>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div *ngFor="let p of pages">
      <ion-menu-toggle *ngIf="p.url">
        <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
          <ion-icon [name]="p.icon" slot="start"></ion-icon>
          <ion-label>
            {{ p.title }}
          </ion-label>
          <ion-badge *ngIf="p.title == 'Redeem' " color="primary">${{redeemAmount}}</ion-badge>
        </ion-item>
      </ion-menu-toggle>
    </div>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>