<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>InProgress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="userIDFlag == 'shkp' ">
      <ion-card style="padding-left: 7%;">
          <div *ngFor=" let detail of shopkeeperArray ">
            <div class="parent" *ngIf = " arrayCheckFlag == 'shopkeepers' ">
              <div class="elements">
                <p>OrderID</p>
                <p>Logistics </p>
                <p>Requested Amount</p>
                <p>Retailers</p>
              </div>
              <div class="elements">
                <p>{{detail.orderid}}</p>
                <p>{{detail.logisticsname}}</p>
                <p>{{detail.requestedplastic}}</p>
                <p>{{detail.retailername}}</p>
              </div>
              <ion-button size="small" fill="outline" routerLink="/industries-landing/shkp-logistics">Track
              </ion-button>
            </div>
          </div>
          
        </ion-card>
  </div>

  <div *ngIf="userIDFlag == 'indus' ">
    <ion-card>
      <div *ngFor=" let detail of shopkeeperArray ">
        <div class="parent" *ngIf = " arrayCheckFlag == 'industries' ">
          <div class="elements">
            <p>OrderID</p>
            <p>Logistics </p>
            <p>Requested Amount</p>
            <p>Retailers</p>
          </div>
          <div class="elements">
            <p>{{detail.orderid}}</p>
            <p>{{detail.logisticsname}}</p>
            <p>{{detail.requestedplastic}}</p>
            <p>{{detail.retailername}}</p>
          </div>
          <ion-button size="small" fill="outline" routerLink="/industries-landing/shkp-logistics">Track
          </ion-button>
        </div>
      </div>
      
    </ion-card>
  </div>


</ion-content>